.block {
	display: block;
	background-color: lightblue;
	margin: 10px;
	padding: 20px;
	width: 200px;
	border: 2px solid black;
}
.inline-block {
	display: inline-block;
	background-color: lightgreen;
	margin: 10px;
	padding: 20px;
	border: 2px solid black;
}

.inline {
	display: inline;
	background-color: lightgreen;
	margin: 10px;
	padding: 20px;
	border: 2px solid black;
}

.none {
  display: none;
  background-color: lightcoral;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
}
